In [10]:
import pymongo
import datetime

In [11]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [12]:
db = client.chiTransport_db

collection = db.scooter_db

In [39]:
import pandas as pd
import csv

scoot_csv = 'E-Scooter_Trips_-_2019_Pilot.csv'

header = ['Trip ID', 'Start Time', 'End Time', 'Trip Distance', 'Trip Duration',
       'Accuracy', 'Start Census Tract', 'End Census Tract',
       'Start Community Area Number', 'End Community Area Number',
       'Start Community Area Name', 'End Community Area Name',
       'Start Centroid Latitude', 'Start Centroid Longitude',
       'Start Centroid Location', 'End Centroid Latitude',
       'End Centroid Longitude', 'End Centroid Location']
trip_ls = []
'''
with open(scoot_csv) as csvfile:
    spamreader = csv.reader(csvfile)
    for i, row in enumerate(spamreader, start=1):
        if i == 0:
            next
        trip = {}
        for v, col in enumerate(header):
            trip[col] = row[v]
        trip_ls.append(trip)
        db.collection.insert_one(trip)
        #print(row)
        #if i > 5:
        #    break
        
print(trip_ls)'''

scoot_df = pd.read_csv(scoot_csv)
df2 = scoot_df.dropna(subset=['Start Census Tract','Start Community Area Number'])
df3 = df2.drop(columns=['Accuracy','Start Centroid Location','End Centroid Location', 'End Time'])
df3

,Trip ID,Start Time,Trip Distance,Trip Duration,Start Census Tract,End Census Tract,Start Community Area Number,End Community Area Number,Start Community Area Name,End Community Area Name,Start Centroid Latitude,Start Centroid Longitude,End Centroid Latitude,End Centroid Longitude
57,d7299e55-c6ba-526a-9e08-d2c70624b617,07/19/2019 01:00:00 PM,0,45,1.703122e+10,1.703122e+10,22.0,22.0,LOGAN SQUARE,LOGAN SQUARE,41.929369,-87.724231,41.929369,-87.724231
61,f70d8d51-8353-5daf-a94b-05bf4eef0e64,07/04/2019 12:00:00 PM,2591,772,1.703124e+10,1.703122e+10,24.0,22.0,WEST TOWN,LOGAN SQUARE,41.911970,-87.683637,41.921126,-87.699754
85,1219adef-c969-36f4-1219-adefc96936f4,08/16/2019 01:00:00 PM,772,794,1.703183e+10,1.703128e+10,28.0,28.0,NEAR WEST SIDE,NEAR WEST SIDE,41.885288,-87.657242,41.879248,-87.642624
87,11fcf7c2-9295-b76a-11fc-f7c29295b76a,07/25/2019 06:00:00 PM,0,107,1.703183e+10,1.703183e+10,28.0,28.0,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.879077,-87.657045
92,12d4b35e-8c82-4a18-b77c-dd5061b17b56,07/22/2019 04:00:00 PM,817,234,1.703183e+10,1.703183e+10,28.0,28.0,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.879077,-87.657045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710832,f4350bf6-f033-416b-9a12-093676bc0413,08/15/2019 06:00:00 PM,566,113,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN,41.906707,-87.684686,41.906023,-87.675310
710833,f8dd5c1c-fb6c-5d07-8f11-8ab71560feca,09/17/2019 07:00:00 PM,40,65,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN,41.899670,-87.669837,41.899670,-87.669837
710835,f644d8ce-a32d-5c1c-ad92-ca01ef86b9f9,08/30/2019 04:00:00 PM,595,301,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN,41.899670,-87.669837,41.908376,-87.670937
710836,fe97d758-f9eb-4314-85c0-058d56019e39,07/06/2019 03:00:00 PM,1239,321,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN,41.892433,-87.669624,41.899670,-87.669837
710838,f554df2f-4e4f-5b15-ab56-30199016dcda,09/05/2019 08:00:00 PM,1656,20,1.703124e+10,1.703124e+10,24.0,24.0,WEST TOWN,WEST TOWN,41.906023,-87.675310,41.906710,-87.665328

In [62]:
l = len(df3)

df4 = df3.sample(int(l/8))

In [63]:
df4.to_json('scootJson.json')

In [64]:
scoot_json = open('scootJson.json').read()

In [65]:
import json

data = json.loads(scoot_json)

In [66]:
collection.insert_one(data)

In [12]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import json

In [13]:
engine = create_engine('sqlite:///chiTransportSAVED.db')

In [14]:
inspector = inspect(engine)
inspector.get_table_names()

DatabaseError: (sqlite3.DatabaseError) file is not a database
[SQL: SELECT name FROM sqlite_master WHERE type='table' ORDER BY name]
(Background on this error at: http://sqlalche.me/e/4xp6)

In [9]:
columns = inspector.get_columns('randomScoot')
for col in columns:
    print(col['name'], col['type'])

In [5]:
results = engine.execute("Select * from randomScoot WHERE [Start Census Tract] != '' AND [End Community Area Number] != '' AND [Trip Distance] != '0'").fetchall()

OperationalError: (sqlite3.OperationalError) no such table: randomScoot
[SQL: Select * from randomScoot WHERE [Start Census Tract] != '' AND [End Community Area Number] != '' AND [Trip Distance] != '0']
(Background on this error at: http://sqlalche.me/e/e3q8)

In [6]:
endLat = [r[15] for r in results]

In [7]:
scootJson = []
#Start and End Time rounded to the nearest hour
for result in results:
    r = {}
    r['Trip ID'] = result[0]
    r['Start Time'] = result[1]
    r['Distance'] = result[3]
    r['Duration'] = result[4]
    r['Start Tract'] = result[6]
    r['End Tract'] = result[7]
    r['Start Community #'] = result[8]
    r['End Community #'] = result[9]
    r['Start Community Name'] = result[10]
    r['End Community Name'] = result[11]
    r['Start Lat'] = float(result[12])
    r['Start Long'] = float(result[13])
    r['End Lat'] = float(result[15])
    r['End Long'] = float(result[16])
    scootJson.append(r)

In [8]:
with open("scoot.json",'w') as f:
    json.dump(scootJson, f, ensure_ascii=False, indent=4)

In [9]:
short = engine.execute("Select * from randomScoot WHERE [Start Census Tract] != '' AND [End Community Area Number] != '' AND [Trip Distance] != '0' LIMIT 10").fetchall()

In [10]:
shortJson = []
for result in short:
    r = {}
    r['Trip ID'] = result[0]
    r['Start Time'] = result[1]
    r['Distance'] = result[3]
    r['Duration'] = result[4]
    r['Start Tract'] = result[6]
    r['End Tract'] = result[7]
    r['Start Community #'] = result[8]
    r['End Community #'] = result[9]
    r['Start Community Name'] = result[10]
    r['End Community Name'] = result[11]
    r['Start Lat'] = float(result[12])
    r['Start Long'] = float(result[13])
    r['End Lat'] = float(result[15])
    r['End Long'] = float(result[16])
    shortJson.append(r)

In [11]:
import json

with open("short.json",'w') as f:
    json.dump(shortJson, f, ensure_ascii=False, indent=4)

In [12]:
divvy_results = engine.execute("Select * from randomDivvy").fetchall()

In [13]:
len(divvy_results)

500000

In [14]:
columns = inspector.get_columns('randomDivvy')
for col in columns:
    print(col['name'], col['type'])
    
colNames = [col['name'] for col in columns]

trip_id TEXT
start_time TEXT
end_time TEXT
bikeid TEXT
tripduration TEXT
from_station_id TEXT
from_station_name TEXT
to_station_id TEXT
to_station_name TEXT
usertype TEXT
gender TEXT
birthyear TEXT

In [15]:
for i, c in enumerate(colNames):
    print(F"{c}: {divvy_results[0][i]}")

trip_id: 23479388
start_time: 2019-07-01 00:00:27
end_time: 2019-07-01 00:20:41
bikeid: 3591
tripduration: 1,214.0
from_station_id: 117
from_station_name: Wilton Ave & Belmont Ave
to_station_id: 497
to_station_name: Kimball Ave & Belmont Ave
usertype: Subscriber
gender: Male
birthyear: 1992

In [16]:
q2scope = ['2019-04','2019-05']
divvy_results[0][1][:7] in q2scope

False

In [17]:
divvyJson = []
for result in divvy_results:
    if result[1][:7] not in q2scope:
        r = {}
        for i, c in enumerate(colNames):
            if i != 3 and i != 6 and i < 8:
                r[c] = result[i]
        divvyJson.append(r)

In [18]:
print(len(divvyJson))
divvyJson[0]

500000

{'trip_id': '23479388',
 'start_time': '2019-07-01 00:00:27',
 'end_time': '2019-07-01 00:20:41',
 'tripduration': '1,214.0',
 'from_station_id': '117',
 'to_station_id': '497'}

In [19]:
import json

with open("divvy.json",'w') as f:
    json.dump(divvyJson, f, ensure_ascii=False, indent=4)

2

In [20]:
import pandas as pd

In [21]:
pd.read_json('short.json')

,Trip ID,Start Time,Distance,Duration,Start Tract,End Tract,Start Community #,End Community #,Start Community Name,End Community Name,Start Lat,Start Long,End Lat,End Long
0,1219adef-c969-36f4-1219-adefc96936f4,08/16/2019 01:00:00 PM,772,794,17031833000,17031281900,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.885288,-87.657242,41.879248,-87.642624
1,12d4b35e-8c82-4a18-b77c-dd5061b17b56,07/22/2019 04:00:00 PM,817,234,17031833100,17031833100,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.879077,-87.657045
2,15b69e57-8a22-40b1-a682-42d52fbeddcb,07/14/2019 07:00:00 PM,6538,2153,17031838100,17031838100,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.878665,-87.671681,41.878665,-87.671681
3,11fca7b6-346a-8436-11fc-a7b6346a8436,07/25/2019 12:00:00 PM,370,143,17031833100,17031833100,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.879077,-87.657045
4,37d991bd-1b00-46f3-b66e-aa33c88456cc,09/20/2019 05:00:00 PM,1048,232,17031833100,17031833100,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.879077,-87.657045
5,38bf3c5e-b783-54ce-8f9c-efe18b6c912d,06/19/2019 01:00:00 PM,627,498,17031833100,17031833100,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.879077,-87.657045
6,3467e6cc-1660-5a84-b2bc-c752f8ccc1aa,07/31/2019 06:00:00 PM,1174,421,17031833100,17031280100,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.885296,-87.642804
7,179972bc-9418-5fca-9182-34324d9aebfb,07/07/2019 03:00:00 PM,48,75,17031833100,17031833100,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.879077,-87.657045
8,38a82171-fa8f-5cf3-921c-d8e8b050d3f1,09/12/2019 06:00:00 PM,1262,6,17031833000,17031833100,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.885288,-87.657242,41.879077,-87.657045
9,30a3f5af-9063-5e9e-b427-346af920447d,08/29/2019 07:00:00 AM,740,237,17031833100,17031833100,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.879077,-87.657045