In [1]:
import pandas as pd
import datetime as dt
import time
import numpy as np

In [2]:
scooter = pd.read_json('data\scoot.json')
# scooter

In [3]:
# # Replace column name spacing with _
scooter.columns = scooter.columns.str.replace(' ', '_')
scooter

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Name,End_Community_Name,Start_Lat,Start_Long,End_Lat,End_Long
0,1219adef-c969-36f4-1219-adefc96936f4,08/16/2019 01:00:00 PM,772,794,17031833000,17031281900,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.885288,-87.657242,41.879248,-87.642624
1,12d4b35e-8c82-4a18-b77c-dd5061b17b56,07/22/2019 04:00:00 PM,817,234,17031833100,17031833100,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.879077,-87.657045
2,15b69e57-8a22-40b1-a682-42d52fbeddcb,07/14/2019 07:00:00 PM,6538,2153,17031838100,17031838100,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.878665,-87.671681,41.878665,-87.671681
3,11fca7b6-346a-8436-11fc-a7b6346a8436,07/25/2019 12:00:00 PM,370,143,17031833100,17031833100,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.879077,-87.657045
4,37d991bd-1b00-46f3-b66e-aa33c88456cc,09/20/2019 05:00:00 PM,1048,232,17031833100,17031833100,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.879077,-87.657045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259773,d32223f7-ed6f-594c-ad96-92b5eace7207,09/25/2019 07:00:00 PM,80,119,17031242100,17031241600,24,24,WEST TOWN,WEST TOWN,41.899670,-87.669837,41.906710,-87.665328
259774,ee350f69-d233-5ce3-a339-da8c8c2f6d9e,07/03/2019 07:00:00 PM,1110,367,17031242300,17031243300,24,24,WEST TOWN,WEST TOWN,41.899507,-87.679600,41.892478,-87.664739
259775,f4350bf6-f033-416b-9a12-093676bc0413,08/15/2019 06:00:00 PM,566,113,17031241200,17031241400,24,24,WEST TOWN,WEST TOWN,41.906707,-87.684686,41.906023,-87.675310
259776,f644d8ce-a32d-5c1c-ad92-ca01ef86b9f9,08/30/2019 04:00:00 PM,595,301,17031242100,17031241500,24,24,WEST TOWN,WEST TOWN,41.899670,-87.669837,41.908376,-87.670937
259777,fe97d758-f9eb-4314-85c0-058d56019e39,07/06/2019 03:00:00 PM,1239,321,17031243200,17031242100,24,24,WEST TOWN,WEST TOWN,41.892433,-87.669624,41.899670,-87.669837

In [4]:
# Sort Distance in descending order 

scooter = scooter.sort_values(by='Distance', ascending=True)
scooter

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Name,End_Community_Name,Start_Lat,Start_Long,End_Lat,End_Long
247047,e10cd998-c0b7-40be-8a5d-72e08fb58bbe,06/15/2019 08:00:00 PM,1,205,17031243500,17031243500,24,24,WEST TOWN,WEST TOWN,41.892654,-87.652517,41.892654,-87.652517
99017,3b6c5c62-e13c-4142-8b1a-45134589032b,09/20/2019 12:00:00 PM,1,261,17031841900,17031841900,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.867892,-87.642969,41.867892,-87.642969
82123,1c4307da-1d81-4731-9daa-07c5788e0ad8,09/30/2019 09:00:00 AM,1,61,17031833300,17031833300,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.871691,-87.654125,41.871691,-87.654125
249168,c51c4ae9-ea8d-4e75-81d3-0ee43f98fa4c,06/28/2019 06:00:00 PM,1,364,17031243400,17031243400,24,24,WEST TOWN,WEST TOWN,41.892558,-87.659848,41.892558,-87.659848
56338,c562a72d-9b58-f4a5-02d9-80a928f35570,07/07/2019 05:00:00 PM,1,55,17031310900,17031310900,31,31,LOWER WEST SIDE,LOWER WEST SIDE,41.855772,-87.674674,41.855772,-87.674674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30602,4fb7ec01-0d8a-4e11-bb82-8f0e4983f7c8,09/11/2019 04:00:00 PM,21576705,223,17031832300,17031830900,22,22,LOGAN SQUARE,LOGAN SQUARE,41.919207,-87.671449,41.928630,-87.685373
106750,7693e449-bfb8-cea1-93d6-7d154c74d964,09/30/2019 06:00:00 PM,22795325,301,17031833100,17031841900,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.867892,-87.642969
13686,32892982-08c7-7bbc-3c78-f63569acb930,07/03/2019 03:00:00 PM,22823654,7756,17031836800,17031836600,27,23,EAST GARFIELD PARK,HUMBOLDT PARK,41.885045,-87.713862,41.898697,-87.708806
222898,5066c72f-9c0b-4fa9-a227-918d3a2b5993,06/20/2019 10:00:00 PM,43150853,4302,17031842300,17031242600,24,24,WEST TOWN,WEST TOWN,41.902201,-87.656066,41.900560,-87.694197
37374,842e0e8a-6325-48b6-8945-5873b6838548,06/20/2019 10:00:00 PM,43166547,459,17031220602,17031220602,22,22,LOGAN SQUARE,LOGAN SQUARE,41.929331,-87.711981,41.929331,-87.711981

In [5]:
# Calculate Distance by miles and update column values
scooter['Distance']= (scooter.Distance/1609).round(decimals=2)
scooter

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Name,End_Community_Name,Start_Lat,Start_Long,End_Lat,End_Long
247047,e10cd998-c0b7-40be-8a5d-72e08fb58bbe,06/15/2019 08:00:00 PM,0.00,205,17031243500,17031243500,24,24,WEST TOWN,WEST TOWN,41.892654,-87.652517,41.892654,-87.652517
99017,3b6c5c62-e13c-4142-8b1a-45134589032b,09/20/2019 12:00:00 PM,0.00,261,17031841900,17031841900,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.867892,-87.642969,41.867892,-87.642969
82123,1c4307da-1d81-4731-9daa-07c5788e0ad8,09/30/2019 09:00:00 AM,0.00,61,17031833300,17031833300,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.871691,-87.654125,41.871691,-87.654125
249168,c51c4ae9-ea8d-4e75-81d3-0ee43f98fa4c,06/28/2019 06:00:00 PM,0.00,364,17031243400,17031243400,24,24,WEST TOWN,WEST TOWN,41.892558,-87.659848,41.892558,-87.659848
56338,c562a72d-9b58-f4a5-02d9-80a928f35570,07/07/2019 05:00:00 PM,0.00,55,17031310900,17031310900,31,31,LOWER WEST SIDE,LOWER WEST SIDE,41.855772,-87.674674,41.855772,-87.674674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30602,4fb7ec01-0d8a-4e11-bb82-8f0e4983f7c8,09/11/2019 04:00:00 PM,13410.01,223,17031832300,17031830900,22,22,LOGAN SQUARE,LOGAN SQUARE,41.919207,-87.671449,41.928630,-87.685373
106750,7693e449-bfb8-cea1-93d6-7d154c74d964,09/30/2019 06:00:00 PM,14167.39,301,17031833100,17031841900,28,28,NEAR WEST SIDE,NEAR WEST SIDE,41.879077,-87.657045,41.867892,-87.642969
13686,32892982-08c7-7bbc-3c78-f63569acb930,07/03/2019 03:00:00 PM,14184.99,7756,17031836800,17031836600,27,23,EAST GARFIELD PARK,HUMBOLDT PARK,41.885045,-87.713862,41.898697,-87.708806
222898,5066c72f-9c0b-4fa9-a227-918d3a2b5993,06/20/2019 10:00:00 PM,26818.43,4302,17031842300,17031242600,24,24,WEST TOWN,WEST TOWN,41.902201,-87.656066,41.900560,-87.694197
37374,842e0e8a-6325-48b6-8945-5873b6838548,06/20/2019 10:00:00 PM,26828.18,459,17031220602,17031220602,22,22,LOGAN SQUARE,LOGAN SQUARE,41.929331,-87.711981,41.929331,-87.711981

In [8]:
# Filter for distances less than 30 miles
scooter = scooter[(scooter['Distance'] < 30)]
scooter


# Filter for distances greater than 0 miles
scooter = scooter[(scooter['Distance'] >0)]
scooter

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Name,End_Community_Name,Start_Lat,Start_Long,End_Lat,End_Long
163369,30564564-8c46-4f3f-bf00-2b184d841871,07/24/2019 09:00:00 AM,29.91,1500,17031210501,17031243500,21,24,AVONDALE,WEST TOWN,41.937401,-87.722330,41.892654,-87.652517
164562,1b5864ec-4665-48c8-b3b6-7ae011df420f,07/25/2019 05:00:00 PM,29.60,2955,17031830900,17031241600,22,24,LOGAN SQUARE,WEST TOWN,41.928630,-87.685373,41.906710,-87.665328
335,1ea80a62-731f-4938-b6df-07f57683b0bd,07/22/2019 03:00:00 PM,29.47,3000,17031252101,17031252101,25,25,AUSTIN,AUSTIN,41.875488,-87.769573,41.875488,-87.769573
159040,825bbbfe-b120-4a4d-b41c-9d2569a5191b,07/26/2019 09:00:00 AM,29.03,1154,17031241400,17031833000,24,28,WEST TOWN,NEAR WEST SIDE,41.906023,-87.675310,41.885288,-87.657242
167278,6aa5c756-4fe4-4e47-b52a-f914a31b3d85,07/22/2019 02:00:00 PM,28.32,741,17031836700,17031242400,23,24,HUMBOLDT PARK,WEST TOWN,41.891704,-87.702175,41.899422,-87.684490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33478,91ac7454-225e-57b7-8f8f-7c0630e5bbbd,08/08/2019 07:00:00 PM,0.01,79,17031221300,17031221300,22,22,LOGAN SQUARE,LOGAN SQUARE,41.921126,-87.699754,41.921126,-87.699754
222410,5c8703ea-34ca-54a3-9e32-a7fcca685bfc,06/22/2019 10:00:00 AM,0.01,161,17031243500,17031243500,24,24,WEST TOWN,WEST TOWN,41.892654,-87.652517,41.892654,-87.652517
222428,7443d8de-e805-56b1-806f-c9c1ff30ab56,09/05/2019 06:00:00 PM,0.01,78,17031241400,17031241400,24,24,WEST TOWN,WEST TOWN,41.906023,-87.675310,41.906023,-87.675310
204599,124d724c-530b-ef24-124d-724c530bef24,09/24/2019 07:00:00 PM,0.01,61,17031240300,17031240300,24,24,WEST TOWN,WEST TOWN,41.912366,-87.675071,41.912366,-87.675071
222711,43f9a108-c36c-43d4-b336-59838d08fc19,08/15/2019 08:00:00 PM,0.01,663,17031241500,17031241500,24,24,WEST TOWN,WEST TOWN,41.908376,-87.670937,41.908376,-87.670937

In [8]:
# scooter.dtypes

In [9]:
# Add "Time" Column as string by pulling last 11 characters from Start_Time column
scooter['Time']= scooter['Start_Time'].str[-11:]

# Add "Date" column by pulling first 10 characters from Start_Time columns
scooter['Date']= scooter['Start_Time'].str[:10]
scooter

# pull year, month and day characters to format Date as yyyy:mm:dd
x = scooter['Date'].str[:5]
y = scooter['Date'].str[-4:]
m = x.str[:2]
d = x.str[-2:]

# Combine variables to reformat "Date" Coulmn
scooter["Date"] = y + '-' + m + '-' + d
scooter

# # pull year, month and day characters to format yyyy:mm:dd
# scooter['x']= scooter['Date'].str[:5]
# scooter['y'] = scooter['Date'].str[-4:]
# scooter["m"]= scooter.x.str[:2]
# scooter['d'] = scooter.x.str[-2:]

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Name,End_Community_Name,Start_Lat,Start_Long,End_Lat,End_Long,Time,Date
163369,30564564-8c46-4f3f-bf00-2b184d841871,07/24/2019 09:00:00 AM,29.91,1500,17031210501,17031243500,21,24,AVONDALE,WEST TOWN,41.937401,-87.722330,41.892654,-87.652517,09:00:00 AM,2019-07-24
164562,1b5864ec-4665-48c8-b3b6-7ae011df420f,07/25/2019 05:00:00 PM,29.60,2955,17031830900,17031241600,22,24,LOGAN SQUARE,WEST TOWN,41.928630,-87.685373,41.906710,-87.665328,05:00:00 PM,2019-07-25
335,1ea80a62-731f-4938-b6df-07f57683b0bd,07/22/2019 03:00:00 PM,29.47,3000,17031252101,17031252101,25,25,AUSTIN,AUSTIN,41.875488,-87.769573,41.875488,-87.769573,03:00:00 PM,2019-07-22
159040,825bbbfe-b120-4a4d-b41c-9d2569a5191b,07/26/2019 09:00:00 AM,29.03,1154,17031241400,17031833000,24,28,WEST TOWN,NEAR WEST SIDE,41.906023,-87.675310,41.885288,-87.657242,09:00:00 AM,2019-07-26
167278,6aa5c756-4fe4-4e47-b52a-f914a31b3d85,07/22/2019 02:00:00 PM,28.32,741,17031836700,17031242400,23,24,HUMBOLDT PARK,WEST TOWN,41.891704,-87.702175,41.899422,-87.684490,02:00:00 PM,2019-07-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33478,91ac7454-225e-57b7-8f8f-7c0630e5bbbd,08/08/2019 07:00:00 PM,0.01,79,17031221300,17031221300,22,22,LOGAN SQUARE,LOGAN SQUARE,41.921126,-87.699754,41.921126,-87.699754,07:00:00 PM,2019-08-08
222410,5c8703ea-34ca-54a3-9e32-a7fcca685bfc,06/22/2019 10:00:00 AM,0.01,161,17031243500,17031243500,24,24,WEST TOWN,WEST TOWN,41.892654,-87.652517,41.892654,-87.652517,10:00:00 AM,2019-06-22
222428,7443d8de-e805-56b1-806f-c9c1ff30ab56,09/05/2019 06:00:00 PM,0.01,78,17031241400,17031241400,24,24,WEST TOWN,WEST TOWN,41.906023,-87.675310,41.906023,-87.675310,06:00:00 PM,2019-09-05
204599,124d724c-530b-ef24-124d-724c530bef24,09/24/2019 07:00:00 PM,0.01,61,17031240300,17031240300,24,24,WEST TOWN,WEST TOWN,41.912366,-87.675071,41.912366,-87.675071,07:00:00 PM,2019-09-24
222711,43f9a108-c36c-43d4-b336-59838d08fc19,08/15/2019 08:00:00 PM,0.01,663,17031241500,17031241500,24,24,WEST TOWN,WEST TOWN,41.908376,-87.670937,41.908376,-87.670937,08:00:00 PM,2019-08-15

In [9]:
# # Extract date from start time and format as string for .json file
# # scooter['Date']=scooter.Start_Time.dt.strftime('%Y-%m-%d')

In [9]:
# scooter.dtypes

In [10]:
# Convert Start_Time to datetime format
scooter['Start_Time']=pd.to_datetime(scooter.Start_Time)
# scooter

# Identify Weekday Name and add column
scooter['Weekday']=scooter.Start_Time.dt.weekday_name
scooter

# # Extract date from start time and format as string for .json file
# scooter['Date']=scooter.Start_Time.dt.strftime('%Y-%m-%d')

# scooter.dtypes

# # Add Start_Date Column in datetime format
# scooter['Start_Date'] =scooter.Start_Time.dt.date
# # scooter

# # Add Time column in datetime format
# scooter['Time']=scooter.Start_Time.dt.time
# # scooter

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Name,End_Community_Name,Start_Lat,Start_Long,End_Lat,End_Long,Time,Date,Weekday
163369,30564564-8c46-4f3f-bf00-2b184d841871,2019-07-24 09:00:00,29.91,1500,17031210501,17031243500,21,24,AVONDALE,WEST TOWN,41.937401,-87.722330,41.892654,-87.652517,09:00:00 AM,2019-07-24,Wednesday
164562,1b5864ec-4665-48c8-b3b6-7ae011df420f,2019-07-25 17:00:00,29.60,2955,17031830900,17031241600,22,24,LOGAN SQUARE,WEST TOWN,41.928630,-87.685373,41.906710,-87.665328,05:00:00 PM,2019-07-25,Thursday
335,1ea80a62-731f-4938-b6df-07f57683b0bd,2019-07-22 15:00:00,29.47,3000,17031252101,17031252101,25,25,AUSTIN,AUSTIN,41.875488,-87.769573,41.875488,-87.769573,03:00:00 PM,2019-07-22,Monday
159040,825bbbfe-b120-4a4d-b41c-9d2569a5191b,2019-07-26 09:00:00,29.03,1154,17031241400,17031833000,24,28,WEST TOWN,NEAR WEST SIDE,41.906023,-87.675310,41.885288,-87.657242,09:00:00 AM,2019-07-26,Friday
167278,6aa5c756-4fe4-4e47-b52a-f914a31b3d85,2019-07-22 14:00:00,28.32,741,17031836700,17031242400,23,24,HUMBOLDT PARK,WEST TOWN,41.891704,-87.702175,41.899422,-87.684490,02:00:00 PM,2019-07-22,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33478,91ac7454-225e-57b7-8f8f-7c0630e5bbbd,2019-08-08 19:00:00,0.01,79,17031221300,17031221300,22,22,LOGAN SQUARE,LOGAN SQUARE,41.921126,-87.699754,41.921126,-87.699754,07:00:00 PM,2019-08-08,Thursday
222410,5c8703ea-34ca-54a3-9e32-a7fcca685bfc,2019-06-22 10:00:00,0.01,161,17031243500,17031243500,24,24,WEST TOWN,WEST TOWN,41.892654,-87.652517,41.892654,-87.652517,10:00:00 AM,2019-06-22,Saturday
222428,7443d8de-e805-56b1-806f-c9c1ff30ab56,2019-09-05 18:00:00,0.01,78,17031241400,17031241400,24,24,WEST TOWN,WEST TOWN,41.906023,-87.675310,41.906023,-87.675310,06:00:00 PM,2019-09-05,Thursday
204599,124d724c-530b-ef24-124d-724c530bef24,2019-09-24 19:00:00,0.01,61,17031240300,17031240300,24,24,WEST TOWN,WEST TOWN,41.912366,-87.675071,41.912366,-87.675071,07:00:00 PM,2019-09-24,Tuesday
222711,43f9a108-c36c-43d4-b336-59838d08fc19,2019-08-15 20:00:00,0.01,663,17031241500,17031241500,24,24,WEST TOWN,WEST TOWN,41.908376,-87.670937,41.908376,-87.670937,08:00:00 PM,2019-08-15,Thursday

In [11]:
# Add column of Weekdays vs Weekend

weekdays = ["Monday","Tuesday","Wednesday", "Thursday", "Friday"]
weekday_ls = []
for day in scooter["Weekday"]:
    if day in weekdays:
        weekday_ls.append("Weekday")
    else:
        weekday_ls.append("Weekend")        
scooter["Day_End"] = weekday_ls
# scooter

scooter['Trip_Count']= 1
scooter

,Trip_ID,Start_Time,Distance,Duration,Start_Tract,End_Tract,Start_Community_#,End_Community_#,Start_Community_Name,End_Community_Name,Start_Lat,Start_Long,End_Lat,End_Long,Time,Date,Weekday,Day_End,Trip_Count
163369,30564564-8c46-4f3f-bf00-2b184d841871,2019-07-24 09:00:00,29.91,1500,17031210501,17031243500,21,24,AVONDALE,WEST TOWN,41.937401,-87.722330,41.892654,-87.652517,09:00:00 AM,2019-07-24,Wednesday,Weekday,1
164562,1b5864ec-4665-48c8-b3b6-7ae011df420f,2019-07-25 17:00:00,29.60,2955,17031830900,17031241600,22,24,LOGAN SQUARE,WEST TOWN,41.928630,-87.685373,41.906710,-87.665328,05:00:00 PM,2019-07-25,Thursday,Weekday,1
335,1ea80a62-731f-4938-b6df-07f57683b0bd,2019-07-22 15:00:00,29.47,3000,17031252101,17031252101,25,25,AUSTIN,AUSTIN,41.875488,-87.769573,41.875488,-87.769573,03:00:00 PM,2019-07-22,Monday,Weekday,1
159040,825bbbfe-b120-4a4d-b41c-9d2569a5191b,2019-07-26 09:00:00,29.03,1154,17031241400,17031833000,24,28,WEST TOWN,NEAR WEST SIDE,41.906023,-87.675310,41.885288,-87.657242,09:00:00 AM,2019-07-26,Friday,Weekday,1
167278,6aa5c756-4fe4-4e47-b52a-f914a31b3d85,2019-07-22 14:00:00,28.32,741,17031836700,17031242400,23,24,HUMBOLDT PARK,WEST TOWN,41.891704,-87.702175,41.899422,-87.684490,02:00:00 PM,2019-07-22,Monday,Weekday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33478,91ac7454-225e-57b7-8f8f-7c0630e5bbbd,2019-08-08 19:00:00,0.01,79,17031221300,17031221300,22,22,LOGAN SQUARE,LOGAN SQUARE,41.921126,-87.699754,41.921126,-87.699754,07:00:00 PM,2019-08-08,Thursday,Weekday,1
222410,5c8703ea-34ca-54a3-9e32-a7fcca685bfc,2019-06-22 10:00:00,0.01,161,17031243500,17031243500,24,24,WEST TOWN,WEST TOWN,41.892654,-87.652517,41.892654,-87.652517,10:00:00 AM,2019-06-22,Saturday,Weekend,1
222428,7443d8de-e805-56b1-806f-c9c1ff30ab56,2019-09-05 18:00:00,0.01,78,17031241400,17031241400,24,24,WEST TOWN,WEST TOWN,41.906023,-87.675310,41.906023,-87.675310,06:00:00 PM,2019-09-05,Thursday,Weekday,1
204599,124d724c-530b-ef24-124d-724c530bef24,2019-09-24 19:00:00,0.01,61,17031240300,17031240300,24,24,WEST TOWN,WEST TOWN,41.912366,-87.675071,41.912366,-87.675071,07:00:00 PM,2019-09-24,Tuesday,Weekday,1
222711,43f9a108-c36c-43d4-b336-59838d08fc19,2019-08-15 20:00:00,0.01,663,17031241500,17031241500,24,24,WEST TOWN,WEST TOWN,41.908376,-87.670937,41.908376,-87.670937,08:00:00 PM,2019-08-15,Thursday,Weekday,1

In [12]:
# Remove data After 9/30
scooter = scooter[scooter.Date != '2019-10-15']
scooter = scooter[scooter.Date != '2019-10-01']
# scooter

In [13]:
# Convert and save dataframe as json file
scooter.to_json(r'data/scooter.json',orient='records')

# Total Rides Per Day

In [14]:
# Caluclate total rides per date
daily_rides= scooter.groupby(['Date','Day_End'])['Trip_Count'].sum().reset_index()
daily_rides

# # Count # of Weekday/end
# daily_rides = daily_rides.sort_values('Day_End')
# pd.set_option('display.max_rows', None)
# print(daily_rides)

           Date  Day_End  Trip_Count
0    2019-06-15  Weekend        2912
1    2019-06-16  Weekend        3245
2    2019-06-17  Weekday        2616
3    2019-06-18  Weekday        3116
4    2019-06-19  Weekday        2741
..          ...      ...         ...
103  2019-09-26  Weekday        1834
104  2019-09-27  Weekday         818
105  2019-09-28  Weekend        1771
106  2019-09-29  Weekend        1171
107  2019-09-30  Weekday        1698

[108 rows x 3 columns]

In [15]:
# Convert and save Trip Count by Date as json file
daily_rides.to_json(r'data/trip_count.json',orient='records')

# Average Weekday/Weekend Rides

In [16]:
# Calculate Average Trips per Hour For weekdays and weekends

hour_rides = scooter.groupby(['Day_End','Time'])['Trip_Count'].sum().reset_index()
hour_rides

# hour_rides.dtypes


# Add data for 3am
new_row = {'Time': '03:00:00 AM', 'Day_End':'Weekday', 'Trip_Count': 0}
hour_rides = hour_rides.append(new_row, ignore_index=True)
new_row= {'Time': '03:00:00 AM', 'Day_End':'Weekend', 'Trip_Count': 0}
hour_rides = hour_rides.append(new_row, ignore_index=True)

# Add data for 4am
new_row = {'Time': '04:00:00 AM', 'Day_End':'Weekday', 'Trip_Count': 0}
hour_rides = hour_rides.append(new_row, ignore_index=True)
new_row= {'Time': '04:00:00 AM', 'Day_End':'Weekend', 'Trip_Count': 0}
hour_rides = hour_rides.append(new_row, ignore_index=True)

# Sort Times
hour_rides = hour_rides.iloc[pd.to_datetime(hour_rides.Time).values.argsort()]
hour_rides

    Day_End         Time  Trip_Count
42  Weekend  12:00:00 AM         199
20  Weekday  12:00:00 AM         310
0   Weekday  01:00:00 AM         160
22  Weekend  01:00:00 AM         110
2   Weekday  02:00:00 AM          28
24  Weekend  02:00:00 AM          14
45  Weekend  03:00:00 AM           0
44  Weekday  03:00:00 AM           0
46  Weekday  04:00:00 AM           0
47  Weekend  04:00:00 AM           0
28  Weekend  05:00:00 AM           5
6   Weekday  05:00:00 AM           2
30  Weekend  06:00:00 AM          11
8   Weekday  06:00:00 AM         266
32  Weekend  07:00:00 AM          70
10  Weekday  07:00:00 AM        1832
34  Weekend  08:00:00 AM         281
12  Weekday  08:00:00 AM        5210
14  Weekday  09:00:00 AM        6064
36  Weekend  09:00:00 AM        1085
16  Weekday  10:00:00 AM        3756
38  Weekend  10:00:00 AM        2741
18  Weekday  11:00:00 AM        4817
40  Weekend  11:00:00 AM        4457
43  Weekend  12:00:00 PM        6050
21  Weekday  12:00:00 PM        9031
1   Weekday  01:00:00 PM       10860
23  Weekend  01:00:00 PM        7385
3   Weekday  02:00:00 PM       10759
25  Weekend  02:00:00 PM        8248
26  Weekend  03:00:00 PM        8326
4   Weekday  03:00:00 PM       11849
27  Weekend  04:00:00 PM        8401
5   Weekday  04:00:00 PM       15296
29  Weekend  05:00:00 PM        8380
7   Weekday  05:00:00 PM       22753
9   Weekday  06:00:00 PM       24409
31  Weekend  06:00:00 PM        8180
33  Weekend  07:00:00 PM        7400
11  Weekday  07:00:00 PM       19492
13  Weekday  08:00:00 PM       14619
35  Weekend  08:00:00 PM        5991
15  Weekday  09:00:00 PM        9527
37  Weekend  09:00:00 PM        3878
39  Weekend  10:00:00 PM        1239
17  Weekday  10:00:00 PM        3249
41  Weekend  11:00:00 PM         274
19  Weekday  11:00:00 PM         538

In [17]:
# Add column with Weekday and weekend count
hour_rides['Day_Count'] = [76 if ele == 'Weekday' else 32 for ele in hour_rides['Day_End']]

# Calculate average rides per hour on Weekdays and Weekend
hour_rides['Avg_Per_Hour'] = (hour_rides['Trip_Count']/hour_rides['Day_Count']).round()
hour_rides


hour_rides
# hour_rides.dtypes

    Day_End         Time  Trip_Count  Day_Count  Avg_Per_Hour
42  Weekend  12:00:00 AM         199         32           6.0
20  Weekday  12:00:00 AM         310         76           4.0
0   Weekday  01:00:00 AM         160         76           2.0
22  Weekend  01:00:00 AM         110         32           3.0
2   Weekday  02:00:00 AM          28         76           0.0
24  Weekend  02:00:00 AM          14         32           0.0
45  Weekend  03:00:00 AM           0         32           0.0
44  Weekday  03:00:00 AM           0         76           0.0
46  Weekday  04:00:00 AM           0         76           0.0
47  Weekend  04:00:00 AM           0         32           0.0
28  Weekend  05:00:00 AM           5         32           0.0
6   Weekday  05:00:00 AM           2         76           0.0
30  Weekend  06:00:00 AM          11         32           0.0
8   Weekday  06:00:00 AM         266         76           4.0
32  Weekend  07:00:00 AM          70         32           2.0
10  Weekday  07:00:00 AM        1832         76          24.0
34  Weekend  08:00:00 AM         281         32           9.0
12  Weekday  08:00:00 AM        5210         76          69.0
14  Weekday  09:00:00 AM        6064         76          80.0
36  Weekend  09:00:00 AM        1085         32          34.0
16  Weekday  10:00:00 AM        3756         76          49.0
38  Weekend  10:00:00 AM        2741         32          86.0
18  Weekday  11:00:00 AM        4817         76          63.0
40  Weekend  11:00:00 AM        4457         32         139.0
43  Weekend  12:00:00 PM        6050         32         189.0
21  Weekday  12:00:00 PM        9031         76         119.0
1   Weekday  01:00:00 PM       10860         76         143.0
23  Weekend  01:00:00 PM        7385         32         231.0
3   Weekday  02:00:00 PM       10759         76         142.0
25  Weekend  02:00:00 PM        8248         32         258.0
26  Weekend  03:00:00 PM        8326         32         260.0
4   Weekday  03:00:00 PM       11849         76         156.0
27  Weekend  04:00:00 PM        8401         32         263.0
5   Weekday  04:00:00 PM       15296         76         201.0
29  Weekend  05:00:00 PM        8380         32         262.0
7   Weekday  05:00:00 PM       22753         76         299.0
9   Weekday  06:00:00 PM       24409         76         321.0
31  Weekend  06:00:00 PM        8180         32         256.0
33  Weekend  07:00:00 PM        7400         32         231.0
11  Weekday  07:00:00 PM       19492         76         256.0
13  Weekday  08:00:00 PM       14619         76         192.0
35  Weekend  08:00:00 PM        5991         32         187.0
15  Weekday  09:00:00 PM        9527         76         125.0
37  Weekend  09:00:00 PM        3878         32         121.0
39  Weekend  10:00:00 PM        1239         32          39.0
17  Weekday  10:00:00 PM        3249         76          43.0
41  Weekend  11:00:00 PM         274         32           9.0
19  Weekday  11:00:00 PM         538         76           7.0

In [18]:
# Convert and save Trip Count by Date as json file
hour_rides.to_json(r'data/avg_hr_rides.json',orient='records')

# Trip Distance

In [19]:
# Trip Count per Community
comm_trips = scooter.groupby(['Start_Community_Name'])['Trip_Count'].sum().reset_index()
# comm_trips

# Sort Trip Count in Descending order
comm_trips =comm_trips.sort_values(by='Trip_Count', ascending=False)
comm_trips

   Start_Community_Name  Trip_Count
14       NEAR WEST SIDE      110323
19            WEST TOWN       92274
10         LOGAN SQUARE       34506
1              AVONDALE        3678
2        BELMONT CRAGIN        3008
11      LOWER WEST SIDE        2487
6               HERMOSA        2353
0                AUSTIN        1740
5    EAST GARFIELD PARK        1399
7         HUMBOLDT PARK        1344
8           IRVING PARK        1195
15       NORTH LAWNDALE         829
17       SOUTH LAWNDALE         731
16         PORTAGE PARK         699
18   WEST GARFIELD PARK         396
12            MONTCLARE         379
4               DUNNING         193
13      NEAR NORTH SIDE          11
3            BRIDGEPORT           5
9          LINCOLN PARK           2

In [20]:
# Bottom Community list
bottom= ['AVONDALE','BELMONT CRAGIN','LOWER WEST SIDE', 'HERMOSA','AUSTIN', 'EAST GARFIELD PARK','HUMBOLDT PARK','IRVING PARK','NORTH LAWNDALE', 'SOUTH LAWNDALE','PORTAGE PARK', 'WEST GARFIELD PARK', 'MONTCLARE','DUNNING', 'NEAR NORTH SIDE', 'BRIDGEPORT','LINCOLN PARK']
mid = ['LOGAN SQUARE', 'AVONDALE', 'BELMONT CRAGIN', 'LOWER WEST SIDE', 'HERMOSA', 'AUSTIN', 'EAST GARFIELD PARK', 'HUMBOLDT PARK', 'IRVING PARK']

In [21]:
# Restructure scooter dataframe
comm_trips = scooter.filter(items=['Start_Community_Name','Distance','Trip_Count'])
comm_trips

       Start_Community_Name  Distance  Trip_Count
163369             AVONDALE     29.91           1
164562         LOGAN SQUARE     29.60           1
335                  AUSTIN     29.47           1
159040            WEST TOWN     29.03           1
167278        HUMBOLDT PARK     28.32           1
...                     ...       ...         ...
33478          LOGAN SQUARE      0.01           1
222410            WEST TOWN      0.01           1
222428            WEST TOWN      0.01           1
204599            WEST TOWN      0.01           1
222711            WEST TOWN      0.01           1

[257552 rows x 3 columns]

In [22]:
def f(row):

    if row['Distance'] >5:
        val = ">5 miles"
    elif row['Distance'] >= 4:
        val = "4-5 miles"
    elif row['Distance'] >= 3:
        val = "3-4 miles"
    elif row['Distance'] >= 2:
        val = "2-3 miles"
    elif row['Distance'] >= 1:
        val = "1-2 miles"
    else:
        val =  "<1 mile"

    return val



# def f(row):

#     if row['Distance'] >20:
#         val = ">20 miles"
#     elif row['Distance'] >= 15:
#         val = "20-15 miles"
#     elif row['Distance'] >= 10:
#         val = "10-15 miles"
#     elif row['Distance'] >=5:
#         val = "5-10 miles"
#     else:
#         val =  "<5 miles"

In [23]:
comm_trips["Distance_Range"] = comm_trips.apply(f,axis=1)
comm_trips

       Start_Community_Name  Distance  Trip_Count Distance_Range
163369             AVONDALE     29.91           1       >5 miles
164562         LOGAN SQUARE     29.60           1       >5 miles
335                  AUSTIN     29.47           1       >5 miles
159040            WEST TOWN     29.03           1       >5 miles
167278        HUMBOLDT PARK     28.32           1       >5 miles
...                     ...       ...         ...            ...
33478          LOGAN SQUARE      0.01           1        <1 mile
222410            WEST TOWN      0.01           1        <1 mile
222428            WEST TOWN      0.01           1        <1 mile
204599            WEST TOWN      0.01           1        <1 mile
222711            WEST TOWN      0.01           1        <1 mile

[257552 rows x 4 columns]

# Top Community Trip Distances

In [24]:
# Drop Bottom Ride Communities 
top_comm = comm_trips[~scooter['Start_Community_Name'].isin(bottom)]
top_comm

       Start_Community_Name  Distance  Trip_Count Distance_Range
164562         LOGAN SQUARE     29.60           1       >5 miles
159040            WEST TOWN     29.03           1       >5 miles
12021          LOGAN SQUARE     27.67           1       >5 miles
39813             WEST TOWN     27.31           1       >5 miles
240605            WEST TOWN     26.76           1       >5 miles
...                     ...       ...         ...            ...
33478          LOGAN SQUARE      0.01           1        <1 mile
222410            WEST TOWN      0.01           1        <1 mile
222428            WEST TOWN      0.01           1        <1 mile
204599            WEST TOWN      0.01           1        <1 mile
222711            WEST TOWN      0.01           1        <1 mile

[237103 rows x 4 columns]

In [25]:
# Groupby top Community and Distance range with trip count per range

comm_dist = top_comm.groupby(['Start_Community_Name','Distance_Range'])['Trip_Count'].sum().reset_index()
comm_dist

   Start_Community_Name Distance_Range  Trip_Count
0          LOGAN SQUARE      1-2 miles        9942
1          LOGAN SQUARE      2-3 miles        3855
2          LOGAN SQUARE      3-4 miles        1563
3          LOGAN SQUARE      4-5 miles         807
4          LOGAN SQUARE        <1 mile       17587
5          LOGAN SQUARE       >5 miles         752
6        NEAR WEST SIDE      1-2 miles       22522
7        NEAR WEST SIDE      2-3 miles        7383
8        NEAR WEST SIDE      3-4 miles        3148
9        NEAR WEST SIDE      4-5 miles        1433
10       NEAR WEST SIDE        <1 mile       74471
11       NEAR WEST SIDE       >5 miles        1366
12            WEST TOWN      1-2 miles       25692
13            WEST TOWN      2-3 miles        9510
14            WEST TOWN      3-4 miles        3686
15            WEST TOWN      4-5 miles        1443
16            WEST TOWN        <1 mile       50458
17            WEST TOWN       >5 miles        1485

In [26]:
# Define a function to map the grand total trip values for top 3 communities 
def set_value(row_number, assigned_value): 
    return assigned_value[row_number] 
  
# Create the dictionary 
event_dictionary ={'LOGAN SQUARE' : 34732, 'WEST TOWN' : 92666, 'NEAR WEST SIDE' : 110849} 
  
# Add a new column named 'Total Rides' 
comm_dist['Total_Rides'] = comm_dist['Start_Community_Name'].apply(set_value, args =(event_dictionary, )) 
  
# Print the DataFrame 
comm_dist

   Start_Community_Name Distance_Range  Trip_Count  Total_Rides
0          LOGAN SQUARE      1-2 miles        9942        34732
1          LOGAN SQUARE      2-3 miles        3855        34732
2          LOGAN SQUARE      3-4 miles        1563        34732
3          LOGAN SQUARE      4-5 miles         807        34732
4          LOGAN SQUARE        <1 mile       17587        34732
5          LOGAN SQUARE       >5 miles         752        34732
6        NEAR WEST SIDE      1-2 miles       22522       110849
7        NEAR WEST SIDE      2-3 miles        7383       110849
8        NEAR WEST SIDE      3-4 miles        3148       110849
9        NEAR WEST SIDE      4-5 miles        1433       110849
10       NEAR WEST SIDE        <1 mile       74471       110849
11       NEAR WEST SIDE       >5 miles        1366       110849
12            WEST TOWN      1-2 miles       25692        92666
13            WEST TOWN      2-3 miles        9510        92666
14            WEST TOWN      3-4 miles        3686        92666
15            WEST TOWN      4-5 miles        1443        92666
16            WEST TOWN        <1 mile       50458        92666
17            WEST TOWN       >5 miles        1485        92666

In [30]:
# Divide Distange Range-Trip Count by Total Rides & add "Trip_Pct" column

comm_dist['Trip_Pct'] = ((comm_dist['Trip_Count']/comm_dist['Total_Rides'])*100).round()
comm_dist

   Start_Community_Name Distance_Range  Trip_Count  Total_Rides  Trip_Pct
0          LOGAN SQUARE      1-2 miles        9942        34732      29.0
1          LOGAN SQUARE      2-3 miles        3855        34732      11.0
2          LOGAN SQUARE      3-4 miles        1563        34732       5.0
3          LOGAN SQUARE      4-5 miles         807        34732       2.0
4          LOGAN SQUARE        <1 mile       17587        34732      51.0
5          LOGAN SQUARE       >5 miles         752        34732       2.0
6        NEAR WEST SIDE      1-2 miles       22522       110849      20.0
7        NEAR WEST SIDE      2-3 miles        7383       110849       7.0
8        NEAR WEST SIDE      3-4 miles        3148       110849       3.0
9        NEAR WEST SIDE      4-5 miles        1433       110849       1.0
10       NEAR WEST SIDE        <1 mile       74471       110849      67.0
11       NEAR WEST SIDE       >5 miles        1366       110849       1.0
12            WEST TOWN      1-2 miles       25692        92666      28.0
13            WEST TOWN      2-3 miles        9510        92666      10.0
14            WEST TOWN      3-4 miles        3686        92666       4.0
15            WEST TOWN      4-5 miles        1443        92666       2.0
16            WEST TOWN        <1 mile       50458        92666      54.0
17            WEST TOWN       >5 miles        1485        92666       2.0

In [28]:
# Convert and save dataframe as json file
comm_dist.to_json(r'data/comm_dist.json',orient='records')